@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #050505;
    --surface: #111111;
    --foreground: #f8fafc;
    --border: #1e293b;
    --primary: #000080;
    --input: #1e293b;
    --ring: #000080;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
